/* html, */
/* body { */
/*    height: 100vh; */
/* } */
/* body { */
/*    display: grid; */
/*    grid-template-rows: min-content auto min-content; */
/* } */
/* a { */
/*    pointer-events: none; */
/* } */

.glightbox-paddedbox {
  margin: 0px;
}

.copy-to-clipboard {
  margin-top: 5px;
}

.gslide-description {
  background-color: transparent !important;
}

body {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
}

header,
footer {
  padding: 10px;
}

.image_container {
  padding: 10px;
}

.flexible {
  /* height: 200px; */
  max-width: 250px;
  /* margin: 10px; */
  flex: 1 auto;
  /* padding: 10px; */
}

img {
  cursor: pointer;
  border-radius: 10px;
}



/* Grow */
.image {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.image:hover,
.image:focus,
.image:active {
  transition-duration: 0.1s;
  transition-property: transform;
  transform: scale(1.2);
}

.copied-image {
  /* background-image: url(private/checkbox.png); */
  /* z-index: 99999999 !important; */
  /* display: block; */
}

.checkbox {
  position: absolute;
  z-index: 9999999 !important;
}

.placeholder {
  /* display:block; */
  height: 120px;
  width: 120px;
  margin: 10px;

  /* background: #dd0808 url('./private/0.jpg'); */
  opacity: 0;
}

.gallery {
  background-color: #fff;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.bi::before {
  vertical-align: -0.125em !important;
  margin-bottom: calc(-0.125em / 2);
}
